@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    display: grid;
    height: 100%;
    place-items: center;
    background: #f2f2f2;
}

.container {
    width: 380px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4)
}

.container .title {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(-135deg, #cf2cc4, #f4800b);
    color: white;
}

.container form {
    padding: 10px 30px 50px 30px;
}

.container form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;

}

.container form .field input {
    height: 100%;
    width: 100%;
    padding-left: 20px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    outline: none;
    transition: all 0.3s ease;
    font-size: 17px;
}

.container form .field input:focus,
.container form .field input:valid {
    border-color: #4158d0;
}

.container form .field label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.3s ease;
    color: #999;
}

.container form .field input:focus~label,
.container form .field input:valid~label {
    top: 0%;
    color: #4158d0;
    font-size: 17px;
    background-color: #fff;
    transform: translateY(-50%);
}

.container form .Pass-link {
    color: #4158d0;
    margin: 8px 0 0 10px;
}

.container form .field input[type="submit"] {
    color: #fff;
    background: linear-gradient(-135deg, #cf2cc4, #f4800b);
    font-size: 18px;
    font-weight: 500;
    border: none;
    padding-left: 0px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.container form .field input[type="submit"]:active{
    transform: scale(0.95);
}
.container form .Pass-link{
    color: #4158d0;
    margin: 8px 0 0 10px;
}
.container form .Signup-link{
    text-align: center;
    margin:20px;
    color: #262626;
}
.container form .Pass-link,
.container form .Signup-link{
    color: #4158d0;
}
.container  form .Pass-link a,
.container form .Signup-link a{ 
text-decoration: none;
}
.container  form .Pass-link a:hover,
.container form .Signup-link a:hover { 
text-decoration: underline;
}